body{
    background-color: rgb(247, 249, 250);
}
footer{
    background-color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.carousel-inner img{
    height: 850px;
    object-fit: fill;
}
footer ul li{
    list-style: none;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}
.contact{
    color: white;
}
h2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: 100%;
}
#canva-banner {
    max-width: 100%; 
    height: auto; 
}
#canva-banner img {
    display: block; 
    max-width: 100%; 
    height: auto; 
}
.navbar-brand{
    font-family: cursive;
}